workflows/WF03-backend-lead-upsert.json
{
  "id": "wf03",
  "name": "WF03 — Backend Lead Upsert",
  "nodes": [
    {
      "parameters": {},
      "id": "wf03-trigger",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// WF03 Build Retry Request — Run Once for Each Item\n// Wrap the lead into the generic request contract WF06 understands.\nreturn { json: {\n  request: {\n    operation: 'LEAD_UPSERT',\n    method: 'POST',\n    path: '/api/v1/leads/upsert',\n    body: $json.lead,\n  },\n  correlationId: $json.correlationId,\n  idempotencyKey: $json.idempotencyKey,\n  attempt: 1,\n} };"
      },
      "id": "wf03-build",
      "name": "Build Retry Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "wf06",
          "mode": "list",
          "cachedResultName": "WF06 — Backend Request With Retry"
        },
        "options": {}
      },
      "id": "wf03-call-retry",
      "name": "Backend Request With Retry",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        700,
        300
      ],
      "notes": "Retry policy lives in WF06 — do not duplicate it here."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// WF03 Map Result — Run Once for Each Item\nconst r = $json;\nreturn { json: {\n  success: r.success === true,\n  statusCode: r.statusCode ?? null,\n  operation: r.operation ?? 'none',\n  lead: r.lead ?? null,\n  errorCode: r.errorCode ?? null,\n  correlationId: r.correlationId ?? null,\n} };"
      },
      "id": "wf03-map",
      "name": "Map Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        300
      ]
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Build Retry Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Retry Request": {
      "main": [
        [
          {
            "node": "Backend Request With Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backend Request With Retry": {
      "main": [
        [
          {
            "node": "Map Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "wf99"
  },
  "pinData": {},
  "meta": {},
  "tags": []
}
