workflows/WF07-reprocess-failed-notification.json
{
  "name": "WF07 — Reprocess Failed Notification",
  "nodes": [
    {
      "parameters": {},
      "id": "wf07-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 400],
      "notes": "Or replace with an admin Webhook. Input: { failureId }."
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:3000/api/v1/automation-failures/{{ $json.failureId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": { "response": { "response": { "neverError": true, "fullResponse": true } } }
      },
      "id": "wf07-load",
      "name": "Load Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 400],
      "notes": "Header Auth 'LeadOps Backend API'."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "combinator": "and",
          "conditions": [
            { "id": "op", "leftValue": "={{ $json.body.data.operation }}", "rightValue": "SEND_ENTERPRISE_NOTIFICATION", "operator": { "type": "string", "operation": "equals" } },
            { "id": "st", "leftValue": "={{ $json.body.data.status }}", "rightValue": "OPEN", "operator": { "type": "string", "operation": "equals" } }
          ]
        },
        "options": {}
      },
      "id": "wf07-if",
      "name": "Reprocessable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 400]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://backend:3000/api/v1/automation-failures/{{ $json.body.data.id }}/reprocessing",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "wf07-mark",
      "name": "Mark Reprocessing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://backend:3000/api/v1/leads/{{ $json.body.data.payload.leadId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "wf07-lead",
      "name": "Load Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 320],
      "notes": "NO upsert is executed during reprocessing — only a GET."
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "REPLACE_WITH_WF05_ID",
        "options": {}
      },
      "id": "wf07-notify",
      "name": "Notify Sales",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1340, 320],
      "notes": "Select WF05 — Notify Sales. Sends the e-mail only."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://backend:3000/api/v1/automation-failures/{{ $node['Load Failure'].json.body.data.id }}/resolve",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { resolutionNote: 'Notification reprocessed successfully' } }}",
        "options": {}
      },
      "id": "wf07-resolve",
      "name": "Resolve Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 320]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "e1", "name": "error", "value": "not-reprocessable", "type": "string" },
            { "id": "e2", "name": "statusCode", "value": 409, "type": "number" }
          ]
        },
        "options": {}
      },
      "id": "wf07-not",
      "name": "Not Reprocessable (409)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 500]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Load Failure", "type": "main", "index": 0 }]] },
    "Load Failure": { "main": [[{ "node": "Reprocessable?", "type": "main", "index": 0 }]] },
    "Reprocessable?": {
      "main": [
        [{ "node": "Mark Reprocessing", "type": "main", "index": 0 }],
        [{ "node": "Not Reprocessable (409)", "type": "main", "index": 0 }]
      ]
    },
    "Mark Reprocessing": { "main": [[{ "node": "Load Lead", "type": "main", "index": 0 }]] },
    "Load Lead": { "main": [[{ "node": "Notify Sales", "type": "main", "index": 0 }]] },
    "Notify Sales": { "main": [[{ "node": "Resolve Failure", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {},
  "tags": []
}
